<form>
    <div>
        <button class="button-effect back-cl-blue">Plans & Pricing</button>
    </div>

    <div>
        <button class="button-effect back-cl-pink">Why Us?</button>
    </div>

    <div>
        <button class="button-effect back-cl-yellow">Contact</button>
    </div>
</form>
<!--

<form>
    <div>
        <input [(ngModel)]="signUpModel.full_name" placeholder="Full_Name" label="Full Name" type="text" name="full_name" required="true">
    </div>

    <div>
        <input  [(ngModel)]="signUpModel.email" placeholder="Email" label="Email" type="email"  name="email"  required="true">
    </div>

    <div>
        <input  [(ngModel)]="signUpModel.password" placeholder="Password" label="Password" type="password"  name="password" required="true">
    </div>

    <button class="button-effect"
            [disabled]="!signUpModel.full_name || !signUpModel.email || !signUpModel.password"
            (click)="signUp()">Sign Up
    </button>
</form> -->
