<section class="container">
    <div class="text-center">
        <h1 class="font-bold">How it works</h1>
    </div>
    <div id="guide_buttons" class="mt-10">
        <button class="button-effect back-cl-blue"><i class="fa fa-male"></i>For Students</button>
        <button class="button-effect back-cl-blue">
            <i class="fa fa-male"><i class="fa fa-female"></i></i>For Parents
        </button>
        <button class="button-effect back-cl-blue"><i class="fa fa-university"></i>For Schools</button>
    </div>
    <div id="back">
    </div>
</section>
