<section class="header-info" *ngIf="areaTitle">
    <div class="container">
        <h4>{{ areaTitle }} - Instructions Example</h4>
    </div>
</section>

<section id="instructions">
    <div class="container">

        <div style="width: 50%;">
            <h2>Instructions</h2>
            <h5>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore
                et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip
                ex ea commodo consequat.
            </h5>

            <button class="button-effect" (click)="startTest()">Start</button>
        </div>

    </div>
</section>
